{% set distro_name = "RHEL-8.9.0-20230327.22" %}
{% set buildroot_name = "BUILDROOT-8.9.0-RHEL-8-20230327.29" %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux8"/>
  <distro_name op="=" value="{{ distro_name }}"/>
{% endset %}
{% set ks_append %}
  <ks_append><![CDATA[
%post
# Enable Buildroot for test dependencies
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
baseurl=http://download.eng.rdu2.redhat.com/rhel-8/nightly/BUILDROOT-8/{{ buildroot_name }}/compose/Buildroot/{{ ARCH }}/os/
enabled=1
gpgcheck=0
skip_if_unavailable=1
EOF
%end
]]>      </ks_append>
{% endset %}
